
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.sqlite3

# Entornos virtuales
venv/
.env/
.env

# Archivos de IDE
.idea/
.vscode/

echo "__pycache__/" > .gitignore
echo "*.pyc" >> .gitignore
"" 
"# Python cache" 
"__pycache__/" 
"*.py[cod]" 
"*.pyo" 
"*.pyd" 

matchjob-458200-6a0cfe7aa83a.json

